In [2]:
# 데이터 구조
# 4가지의 타입이 존재합니다.
# 1) 리스트
# 2) 튜플
# 3) 딕셔너리
# 4) 셋

# 리스트
# 선언방법 -> 3가지가 있다.
# 1) 변수이름 = []
# 2) 변수이름 = list()
# 3) 변수이름 = [데이터1, 데이터2, ...]

In [3]:
myList1 = [] # 공백 상태의 리스트;
print(myList1)

[]

In [37]:
myList2 = list() # 공백 상태의 리스트 
# 예시처럼 값을 넣은 뒤 리스트 선언 가능
print(myList2)

[]

In [5]:
myList3 = [1,2,3,4,5] # 데이터가 있는 리스트
print(myList3)

[1, 2, 3, 4, 5]

In [11]:
# 어떤 데이터를 추가하고 싶을 때
# 리스트의 이름.append("데이터")
myList1.append(1)
myList1

[[1, 2, 3, 4, 5, 6], 1]

In [17]:
location = ['광주', '부산', '강릉']

In [21]:
location.append('서울')
location.append('울산')

In [24]:
print(location)
location = set(location)
location = list(location)
print(location)

['부산', '강릉', '울산', '서울', '광주']
['부산', '강릉', '울산', '서울', '광주']

In [25]:
# .insert(인덱스 번호,"데이터")
location.insert(2,'전주')

In [27]:
location

['부산', '강릉', '전주', '울산', '서울', '광주']

In [28]:
location.insert(0, "공주")
location.append("과천")
location

['공주', '부산', '강릉', '전주', '울산', '서울', '광주', '과천']

In [29]:
# 리스트 데이터 삭제방법
# 2가지
# del 리스트이름[인덱스번호]
del location[7]

In [30]:
location

['공주', '부산', '강릉', '전주', '울산', '서울', '광주']

In [32]:
# 리스트이름.remove('데이터')
location.remove('강릉')

In [33]:
location

['공주', '부산', '전주', '울산', '서울', '광주']

In [34]:
# 데이터 수정
# 리스트이름[인덱스 번호] = '수정할 데이터'
location[0] = '광저우'
print(location)

['광저우', '부산', '전주', '울산', '서울', '광주']

In [35]:
# 리스트 인덱스 번호상, 0, 2, 4 번 값만 나오게 출력
print(location[0],location[2],location[4])
# print()
# print()

광저우 전주 서울

In [39]:
print(location[:-1])

['광저우', '부산', '전주', '울산', '서울']

In [45]:
# location[start Number : end Number : Step]

list1 = []
for i in range(1, 10001):
    list1.append(i)
    
# list1을 사용해서 5씩건너 뛰어서 출력하게 해주세요.
print(list1[::303], end=' ')

[1, 304, 607, 910, 1213, 1516, 1819, 2122, 2425, 2728, 3031, 3334, 3637, 3940, 4243, 4546, 4849, 5152, 5455, 5758, 6061, 6364, 6667, 6970, 7273, 7576, 7879, 8182, 8485, 8788, 9091, 9394, 9697, 10000]

In [46]:
# 문자열, 정수타입도 리스트화 시킵니다.
potter = 'Hagrid is bringing him to home.'

potter_list  = ['harid', 'is', 'bringing', 'him', 'to', 'home.']

In [49]:

# 문자열이 가지고 기능
# split('기호, 특징')
print(potter)
potter.split()

Hagrid is bringing him to home.

['Hagrid', 'is', 'bringing', 'him', 'to', 'home.']

In [61]:
post_address = '123-456'
post = post_address.split('-')
print(post[1][0])

4

In [63]:
dotdot = '1234.124.124.123.4.56.74.567.34.567.3543.62452456.'
dotdot.split('.')

['1234',
 '124',
 '124',
 '123',
 '4',
 '56',
 '74',
 '567',
 '34',
 '567',
 '3543',
 '62452456',
 '']

# Tuple

In [66]:
# 선언
# 아나콘다에서 튜플을 선언할때 일반적인 공백의 튜플을 만들 수 없다.
# 그래서 항상 값이 있는 튜플을 만들어야 한다.

data = ()
print(type(data))

<class 'tuple'>

In [69]:
# 공백 튜플 만드는 방법 = ()
# 공백 튜플 만드는 방법tuple()
# 데이터가 있는 튜플 만드는 방법(1,2,3,4,5)

tup1 = (1,2,3,4,5,6,7,8,9,10)
# 인덱스 번호를 사용할 수 있다.

tup1[7]
# 슬라이싱 기능을 사용할 수 있습니다.
tup1[0:9:3]

(1, 4, 7)

In [70]:
# 튜플은 튜플끼리 연산이 가능합니다.
tup1 = (1,2,3)
tup2 = (4,5,6)
tu1 + tup2

NameError: name 'tu1' is not defined

In [74]:

# 값을 추가 하고 싶다면?
# 튜플은 값을 추가할 수 없습니다.
# 튜플은 값을 수정할 수 없습니다.
# 튜플을 값을 삭제할 수 없습니다.
# 튜플을 리스트화 -> 추가,삭제,수정을 한 뒤 -> 튜플화
tup1 = (1,2,3)
# 리스트화 -> 5, 8을 추가한 뒤,  삭제 2를 하고 1를 4로 바꾼뒤
# 다시 튜플화하기
print(tup1)
tup1 = list(tup1)
tup1.append(5)
tup1.append(8)
del tup1[1]
tup1[0] = 4
tup1 = tuple(tup1) 
print(tup1)

(1, 2, 3)
(4, 3, 5, 8)

In [75]:
x = 1
y = 2

print(x,y)

1 2

In [76]:
temp = x
x = y
y = temp
print(x, y)

2 1

In [2]:
x = 1 
y = 2
print (x, y)
x, y = y, x
print(x, y)

1 2
2 1

# Dictionary

In [14]:
# 선언
# 리스트 선언 = []
# 튜플 선언 = ()
# 딕셔너리 선언 = {}
data_dict = {}
# 공백 상태의 딕셔너리
print(data_dict)
# 공백 상태의 딕셔너리
data_dict2 = dict()
# 데이터가 있는 딕셔너리
data_dict3 = {"LOL" : "AOS","배틀그라운드" : "TPS/FPS" }

{}

In [15]:
# 자기가 좋아하는 것들을 사용해서 딕셔너리를 만들어 보세요
# 최소 3개 이상의 아이템을 포함한 딕셔너리를 만들어주세요.
Foods = {"떡볶이" : "삼첩분식", "피자" : "조각피자", "커피" : "스벅"}

In [16]:
#딕셔너리 데이터 추가
# 딕셔너리이름["추가할 키값"] = "추가할 밸류값"
Foods["스테이크"] = "빕스"

In [17]:
Foods

{'떡볶이': '삼첩분식', '피자': '조각피자', '커피': '스벅', '스테이크': '빕스'}

In [18]:
# 삭제
# 딕셔너리의 데이터 삭제?
# del 딕셔너리 이름['키값']
del Foods["커피"]

In [19]:
Foods

{'떡볶이': '삼첩분식', '피자': '조각피자', '스테이크': '빕스'}

In [22]:
# 밸류값 수정
# 키값은 수정 X
Foods["사탕"] = "춥팟춥수"
print(Foods)
Foods["사탕"] = "춥파춥스"
print(Foods)

# 키값 수정 안됨
del Foods["스테이크"]
Foods["Steak"] = "빕스"
print(Foods)

{'떡볶이': '삼첩분식', '피자': '조각피자', '스테이크': '빕스', '사탕': '춥팟춥수'}
{'떡볶이': '삼첩분식', '피자': '조각피자', '스테이크': '빕스', '사탕': '춥파춥스'}
{'떡볶이': '삼첩분식', '피자': '조각피자', '사탕': '춥파춥스', 'Steak': '빕스'}

In [24]:
Goty = {"갓오브워" : [2018, "PS4", 94, 9.2]}
print(Goty)

{'갓오브워': [2018, 'PS4', 94, 9.2]}

In [26]:
Foods.keys()

dict_keys(['떡볶이', '피자', '사탕', 'Steak'])

In [28]:
Foods.values()

dict_values(['삼첩분식', '조각피자', '춥파춥스', '빕스'])

In [35]:
# 딕셔너리는 보통 for문을 이용해서 가져옵니다.
# 반복문을 통해서 안에 있는 정보를 가져옵니다.
for i, c in Foods.items():
    print("value = ", c)
    print()

value =  삼첩분식

value =  조각피자

value =  춥파춥스

value =  빕스

# Set
- 수학집합연산을 쉽게 하기 위해서 사용하는 자료형

In [42]:
# 선언
# 4가지
data_set=set() # 공백상태의 set을 선언
print(data_set)
#data_dict = { "김밥" : "분식" , }
data_set = {'김밥', '쫄면', '군만두'}
print(data_set)

set()
{'쫄면', '김밥', '군만두'}

In [45]:
# 3)data_set = set("아이폰12")
# set("넣을 데이터") -> 무조건 1개의 데이터만 넣어야 한다.
# 그 이상 넣었을 경우 에러가 난다.
# 데이터를 넣게 되면 쪼개져서 데이터가 입력이 된다.
# data_set = set("아이폰12", "아이폰11", "아이폰10")
data_set

TypeError: set expected at most 1 argument, got 3

In [47]:
# 4) data_set = set({데이터1, 데이터2, 데이터3 ...})
data_set = set({"김밥", "쫄면", "만두"})
data_set

{'김밥', '만두', '쫄면'}

In [49]:
# 스마트폰을 생산하는 회사
smart = {'apple', 'samsung', 'lg'}
furni = {'samsung', 'lg', 'xiaomi'}

# smart, furni 를 사용해서
# 교집합인지,합집합인지를 보고
# 정리를 해주시면 됩니다.

# 교집합
smart & furni

{'lg', 'samsung'}

In [50]:
# 합집합
smart | furni

{'apple', 'lg', 'samsung', 'xiaomi'}

In [51]:
# 여집합 
smart ^ furni

{'apple', 'xiaomi'}

In [52]:
# 차집합
smart - furni

{'apple'}

In [54]:
# Set은 여러개의같은 정보를 가지고 있을 겨우
# 중복을 제거합니다.
data_set = {"김밥", "김밥", "당근", "오이", "달걀"}
data_set

{'김밥', '달걀', '당근', '오이'}